body{
    background-color: #dddddd;
    padding-top: 30px;
}

.well{
    background-color: white !important;
}

h1, h2, h3, h4, li{
    color: #5a5a5a;
}

.employment, .education, .projects{
    padding-right: 20px;
    padding-top: 20px;
}